body {
  margin:0;
}
header {
  background-color: #444444;
  min-height: 150px;
  margin: 0;
}

#container {
  width:auto;
  height:auto;
  margin:0;
  padding:0;
}

#left-panel {
  float:left;
  background-color: #D8D8D8;
  width:15%;
  min-height:600px;
}

#center-panel{
  float:left;
  background-color: #FFFFFF;
  width:70%;
  min-height:600px;
}

#right-panel {
  float:left;
  background-color: #D8D8D8;
  width:15%;
  min-height:600px;
}

#center-content{
  clear:both;
  height:90%;
  width:100%;
  min-height:540px;
}

#footer {
  min-height: 60px;
  height:10%;
  width:100%;
  background-color: #444444;
}

footer{
  clear:both;
}
